black
streamlit
streamlit-chat
langchain
langchain-core
langchain-community
langchain-openai
langchain-pinecone
langchain-experimental
unstructured
python-dotenv
python-pptx
pinecone-client
pygments
extra-streamlit-components